<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    <div class="flex">
        <%- include('./navbar.ejs'); %>
        <!-- Content-->
        <div class="w-4/5 bg-white-500 p-10">
            <p class="mb-5 font-bold">
                <%= file[3] %>
            </p>
            <div class="flex">
                <div class="w-1/2 flex flex-col p-5">
                    <div>
                        <form class="flex flex-row" action="/changevisibility" method="post">
                            <select name="visibility"
                                class="mr-2 appearance-none bg-white border border-gray-300 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:border-blue-500">
                                <option value="private" selected>Privát</option>
                                <option value="public">Publikus</option>
                            </select>
                            <input type="hidden" name="fileid" value="<%= file[0] %>">
                            <button type="submit" class="p-1 w-20 bg-gray-300 rounded-md">
                                Mentés
                            </button>
                        </form>
                    </div>

                    <div class="mt-5">
                        <form class="flex flex-row" action="/sharewithuser" method="post">
                            <input type="text" placeholder="Felhasználónév"
                                class="shadow-md rounded-md w-4/5 mr-2 p-2 focus:outline-none focus:border focus:border-blue-500">
                            <button type="submit" class="w-1/5 p-2 bg-gray-300 rounded-md">
                                Megosztás
                            </button>
                        </form>
                    </div>

                    <div class="flex mt-5">
                        <form action="/ratefile" method="post">
                            <input type="hidden" value="down">
                            <button type="submit">
                                <img src="/arrow.svg"
                                    class="w-10 p-2 rounded-md bg-gray-300 hover:bg-gray-500 duration-300">
                            </button>
                        </form>
                        <p class="font-bold p-2">
                            <%= rating %>
                        </p>
                        <form action="/ratefile" method="post">
                            <input type="hidden" value="up">
                            <button type="submit">
                                <img src="/arrow.svg"
                                    class="w-10 p-2 rotate-180 rounded-md bg-gray-300 hover:bg-gray-500 duration-300">
                            </button>
                        </form>
                    </div>
                </div>
            </div>


        <!--
            <div class="w-full mt-5 shadow-md rounded-md p-5">
                
                    <div class="h-auto flex mb-5">
                        <img src="../public/" class="shadow-md h-20 rounded-full overflow-clip mr-5">
                        <div>
                            <p class="flex mt-1 font-bold"> · </p>
                            <p class="text-justify"></p>
                        </div>
                    </div>
                

            </div>
        </div>
    -->




    </div>

</body>

</html>