<!-- Navbar left -->
<div class="w-1/5 shadow-2xl h-screen bg-white-500 overflow-hidden sticky top-0">
	<div class="flex justify-center items-center h-20 hover:bg-gray-200 transition-colors duration-300 cursor-pointer">
		<img src="/defaultpfp.png" class="shadow-md h-4/5 rounded-full overflow-clip">
	</div>
	<!-- Index page button -->
	<div class="flex justify-center items-center h-20 hover:bg-gray-200 transition-colors duration-300 cursor-pointer">
		<p class="text-center font-bold text-lg"><a href="/">Főoldal</a></p>
	</div>

	<% if (username != null) { %>
	<!-- Profile page button -->
	<div class="flex justify-center items-center h-20 hover:bg-gray-200 transition-colors duration-300 cursor-pointer">
		<p class="text-center font-bold text-lg"><a href="/profile">Saját fiók</a></p>
	</div>

	<!-- Files page button -->
	<div class="flex justify-center items-center h-20 hover:bg-gray-200 transition-colors duration-300 cursor-pointer">
		<p class="text-center font-bold text-lg"><a href="/explorer/root">Fájljaim</a></p>
	</div>
	
	<!-- Bookmark page button -->
	<div class="flex justify-center items-center h-20 hover:bg-gray-200 transition-colors duration-300 cursor-pointer">
		<p class="text-center font-bold text-lg"><a href="">Könyvjelzőim</a></p>
	</div>

	<div class="flex justify-center items-center h-20 hover:bg-gray-200 transition-colors duration-300 cursor-pointer">
		<p class="text-center font-bold text-lg"><a href="/logout">Kijelentkezés</a></p>
	</div>
	<% } %>

	<% if (username == null) { %>
	<!-- Login button -->
	<div class="flex justify-center items-center h-20 hover:bg-gray-200 transition-colors duration-300 cursor-pointer">
		<p class="text-center font-bold text-lg"><a href="/login">Bejelentkezés</a></p>
	</div>
	<% } %>

	<% if (typeof msg !== 'undefined') { %>
		<p><%=msg%></p>
	<% } %>
</div>